<h1>Show Page for House <%= @house.name %> </h1>

<h4> This house exists in the universe of <%= @house.source %> </h4>
<h4> The creator of this house is <%= @house.author %> </h4>
<h4> The motto of this house is "<em><%= @house.motto %></em>" </h4>

<hr />

<h3> <%= @house.name %> Members </h3>
<ul>
  <% @members.each do |member| %>
  <li>
    <%= "#{member.first_name} #{member.last_name}" %>
    <em class="added">Added on <%= member.created_at.strftime("%B %d %Y") %></em>
  </li>
  <% end %>
</ul>
<hr />

<%= link_to "Add a House Member", new_house_member_path(@house), class: "button" %>
<%= link_to "Edit This House", edit_house_path(@house), class: "button" %>
<%= link_to "Delete This House", @house, method: "delete", class: "button" %>
<%= link_to "Back to All Houses", houses_path, class: "button" %>
