<h1 class="text-center">New House <%= @house.name %> Member Form</h1>

<div class="form">
  <%= form_for [@house, @member] do |f| %>
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name %>

    <%= f.submit value="Add Member" %>
  <% end %>
</div>
